<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Global Superstore 2016</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Global Superstore 2016", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        //Drop down menu for Manage
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown"
                               asp-area="" asp-controller="Staffs" asp-action="Index">
                                Manage
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Manage Orders", "Index", "Orders")</li>
                                <li>@Html.ActionLink("Manage Returns", "Index", "Returns")</li>
                                <li>@Html.ActionLink("Manage People", "Index", "People")</li>
                            </ul>
                        </li>
                        //Drop down menu for data visuals ^^ this is going to be a long one x)
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown"
                               asp-area="" asp-controller="Staffs" asp-action="Index">
                                Visualise
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Trends over time", "Trends", "Visuals")</li>
                                <li>@Html.ActionLink("Relationships between area and purchases", "Relationships", "Visuals")</li>
                                <li>@Html.ActionLink("Location Insights", "LocationInsights", "Visuals")</li>
                                <li>@Html.ActionLink("Products Purchased History", "ProductPurchases", "Visuals")</li>
                                <li>@Html.ActionLink("Information on Regional Managers", "RegionalManagers", "Visuals")</li>
                                <li>@Html.ActionLink("Information on Order History", "Orders", "Visuals")</li>
                                <li>@Html.ActionLink("Information on Return History", "Orders", "Visuals")</li>
                            </ul>
                        </li>

                    }
                    else
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    }

                    <!-- Original CONTENT
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    -->

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p align="center">&copy; @DateTime.Now.Year - Global Superstore 2016 Data Visual - Developed by Esmari Swart, 27798607</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
