@model GlobalSuperstore_P3_27798607.Models.Returns

@{
    ViewBag.Title = "Details";
}
@if (User.Identity.IsAuthenticated)
{
    <h2>Details</h2>

    <div>
        <h4>Returns</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Returned)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Returned)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Order_ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Order_ID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Region)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Region)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>

}
else
{
    <div class="jumbotron">
        <h2>Please login to view this page.</h2>

        <p align="center">
            <a href="@Url.Action("Login", null, new { area = string.Empty, controller = "Account" }, Request.Url.Scheme)" class="btn btn-success btn-lg">Login here &raquo;</a>
            <a href="@Url.Action("Register", null, new { area = string.Empty, controller = "Account" }, Request.Url.Scheme)" class="btn btn-success btn-lg">Register here &raquo;</a>
        </p>
    </div>

}
